body{
    background-color: black;
}

body{
    font-family: 'Staatliches', cursive;
}

#Cabecera{
    position: absolute;
}

#barra{
    position: relative;
}

#titulo{
    justify-content: center;
    display: flex;
}

#botonera{
    margin-top: 38rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#Test{
    color: white;
}

#tabs{
    margin-top: 600px;
    color: white;
}

#titulo{
    color: white;
    text-align: center;
    margin-top: 110px;
}

.Escenario{
color: white;
font-family: 'Staatliches', cursive;
margin-top: 105px;
margin-left: 16px;
margin-right: auto;
}



h2{
    padding: 20px;
    font-size: 2cm;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -5px;
    margin-bottom: -180px;
}

.contenedor figure{
    position: relative;
    height: 350px;
    width: 250px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedor figure .capa{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 103, 123, 0.7);
transition: all 500ms ease-out;
opacity: 0;
visibility: hidden;
text-align: center;
}

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
}

#artist{
    margin-right: 70px;
    
}

a{
    color: white;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: white;
}

a:focus{
    color: white;
}

a:active{
    color: white;
}

footer{
    margin-top: 70rem;
    text-align: center;
    color: white;
}

.Formulario{
    color: white;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 40px 100px;
    margin-top: 38rem;
margin-left: 16px;
margin-right: auto;
grid-column-gap: 10px;
grid-row-gap: 15px;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}

section#Formulario{
    grid-area: Formulario;
}

input{
    width: 600px;
    margin-left: 50px;
}

.border{
    border: 1px solid white;
}
